<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon - RUDRA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: #010102;">
    <div class="container text-center" style="color: #fff;">
        <h1 class="mt-5">Coming Soon!</h1>
        <p>We're preparing something amazing for you. Stay tuned!</p>
        <div class="rocket-container">
            <video autoplay muted loop id="video-background" style="width: 200px;">
                <source src="{{ url_for('static', filename='0d27c45e8ee24a1dbb95930c5887bfdc.webm') }}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
</body>
</html>
