<footer class="footer">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <!-- Quick Links Section -->
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('knowledge_drop') }}">&#x3E; Latest Weekly Knowledge Drop</a></li>
                    <li><a href="https://forms.gle/Tv4uMC2mN9kQ7Dta7">&#x3E; Register for Microsoft Study Jams</a></li>
                    <li><a href="{{ url_for('comingsoon') }}">&#x3E; Register and Join RUDRA</a></li>
                    <li><a href="{{ url_for('comingsoon') }}">&#x3E; Explore Blogs</a></li>
                    <li><a href="#" class="go-to-top">&#x3E; Go to Top</a></li>
                </ul>
            </div>

            <!-- Follow Us Section -->
            <div class="col-md-3 text-center">
                <h5>Follow Us</h5>
                <ul class="social-icons">
                    <li><a href="https://www.instagram.com/rudra.rvu?utm_source=qr&igsh=OTNtOGxjenV5cmF1"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div class="col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:info@example.com"><i class="far fa-envelope"></i> Email</a></li>
                    <li>
                        <a href="mailto:contact.rudrarvu@gmail.com?cc=sujayvk.btech23@rvu.edu.in,adityas.btech23@rvu.edu.in,vaishnavs.btech23@rvu.edu.in,ramyashreeg.bsc23@rvu.edu.in,apoorvg.btech23@rvu.edu.in,thaijayani.btech23@rvu.edu.in,glakshmia.btech23@rvu.edu.in">
                            <i class="far fa-envelope"></i> Contact Executive Board
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
